<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1 {
        color: red;
        text-align: center;
        font-size: 50px;
        }
        a{
        text-decoration: none;
        color: black;
        font-size: 20px;

        }
    </style>
</head>
<body>
<h1>Division</h1>
<form action = "/divisiondetails" method="post">
    <table>
        <tr><td>Number1</td><td><input type="text" name="number1"></td></tr>
        <tr><td>Number2</td><td><input type="text" name="number2"></td></tr>

        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
    </form>
<a href="/">home page</a><br>
</body>
</html>