<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h2 {
        color: red;
        text-align: center;
        font-size: 50px;
        }
        a{
        text-decoration: none;
        color: black;
        font-size: 30px;

        }
    </style>
</head>
<body>
<h2>Calculator</h2>
<a href="/add">Addition operation </a><br><br>
<a href="/sub">Subtraction operation </a><br><br>
<a href="/mul">Multiplication operation </a><br><br>
<a href="/div">Division operation </a><br><br>
</body>
</html>