<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <h3>Update Student values</h3>

<form action="/updaterecord" method="post">
    <table>
        <tr><td>id</td><td><input type="text" name="id"></td></tr>
        <tr><td>Name</td><td><input type="text" name="Name"></td></tr>
        <tr><td>M1</td><td><input type="text" name="M1"></td></tr>
        <tr><td>M2</td><td><input type="text" name="M2"></td></tr>
        <tr><td>M3</td><td><input type="text" name="M3"></td></tr>

        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>
</form>
</body>
</html>